@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


.crdImg{
  width: 100%;
  object-fit: fill;
}
.cardOverlay{
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #22223b;
  color: white;
  transform: translateY(50%);
  transition: 0.3s;
}

h3{
  letter-spacing: 5px;
}
.card {
  position: relative;
  overflow: hidden;
}

.card:hover .cardOverlay{
  transform: translateY(0%);
}
.desc{
    font-family: 'MockFlowFont', sans-serif;
}